git+git://github.com/openchia/chia-blockchain.git@stable/1.2#egg=chia-blockchain
git+https://github.com/olucurious/PyFCM.git@1.5.4
blspy~=1.0.2
setuptools~=56.1.0
aiopg
aiohttp~=3.7.4
pytest==6.2.4
cachetools==4.2.2
influxdb_client==1.25.0
